body {
    font-family: 'Poppins', sans-serif; /* This applies the new font */
    color: #333; /* Text color */
    background-color: #f5f5f5; /* Background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    width: 300px;
}

button {
    background-color: #4CAF50; /* Button color */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-weight: 700; /* Bold font weight */
    transition: background-color 0.3s; /* Transition effect for hover */
}

button:hover {
    background-color: #45a049; /* Button hover color */
}
